:root {
  --color-primary: #003d31;
  --color-secondary: #c0d8d7;
  --color-accent: #fed448;
  --color-dark: #071e16;
  --color-light: #f9f9f9;
  --color-white: #ffffff;
  --color-gray-light: #d9d9d9;
  --color-gray-medium: #8c8ca1;

  --border-radius-sm: 20px;
  --border-radius-lg: 30px;

  --font-family: 'Outfit', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-light);
    color: var(--color-dark);
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: var(--color-white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2), 5px 5px 10px rgba(0,0,0,0.19);
}

h1 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 20px;
}

.question-group {
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-radius-sm);
    background-color: var(--color-light);
}

.question-group h3 {
    margin-top: 0;
    color: #34495e;
}

.question-group label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.question-group label:hover {
    background-color: var(--color-secondary);
}

.question-group input[type="radio"] {
    margin-right: 10px;
}

#submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-light);
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover {
    background-color: var(--color-accent);
    color: var(--color-dark);
}

.result-container {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    display: none; /* Hidden by default */
}

.result-good {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-primary);
}

.result-bad {
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray-light);
    color: var(--color-dark);
}

.result-container h2 {
    margin-top: 0;
}

.result-container ul {
    padding-left: 20px;
}
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-light);
    background-color: var(--color-accent);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.contact-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dark);
}

.button:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}